.app-wrapper {
  display: grid;
  grid-template-areas: 
  "nav header"
  "nav content";

  grid-template-rows: 64px 1fr;
  grid-template-columns: 208px 1fr;
}
.content-wrapper {
  grid-area: content;
  height: 100%;
  background-color: #65b5f3;
}
